*{
    font-family: verdana;
}
#lewy,#prawy{
    float: left;
    background-color: seagreen;
    color: white;
    line-height: 150px; 
    height: 260px;
    font-size: 160%;    
}
#lewy{
    width: 75%;
}
#prawy{
    width: 25%;
    text-align: right;
}
#glowny{
    clear: both;
    background-color: mintcream;
    padding: 80px;
}
#stopka1,#stopka2{
    float: left;
    background-color: seagreen;
    color: white;
    width: 50%;
    height: 70px;
    text-align: center;
}
input{
    margin-bottom: 20px;
}
img{
    box-shadow: 15px 15px 10px dimgray;
}
a{
    text-decoration: none;
    background-color: mintcream;
    color: seagreen;
    padding: 15px;
    line-height: 70px;
}